<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001741532703-sqb5r8bt4e9kl8coq9g08o7jpsm47ndo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001741532703-sqb5r8bt4e9kl8coq9g08o7jpsm47ndo</string>
	<key>API_KEY</key>
	<string>AIzaSyBgrsqRO9PLNVDeWF2qvqrqy3kUuaqFLYM</string>
	<key>GCM_SENDER_ID</key>
	<string>1001741532703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rickyjsparks.Rubae</string>
	<key>PROJECT_ID</key>
	<string>rubae-209f6</string>
	<key>STORAGE_BUCKET</key>
	<string>rubae-209f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001741532703:ios:566feb827adc9bcde79f2a</string>
</dict>
</plist>
